TICKERS='BID,CTG,VPB,VCB,SHB,STB,VIB,LPB,MBB,ACB,HDB,EIB,SSB,MSB,ABB,TPB,OCB,NAB,BVB,TCB,VAB,VBB,PGB,BAB,NVB,KLB,SGB,AGRB'
TOP10BANKS='BID,VCB,CTG,VPB,SHB,VIB,MBB,ACB,HDB,TCB,AGRB'
D1_DATABASE='nlct_bidv'
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
