# Quarto & R output files (Local tests)
*.html
/build/
/.quarto/
/*_files/
/*_cache/

# R temporary files
.Rhistory
.RData
.Rproj.user/

# AI Agents
.agents/

# Ignore init.R
init.R

# R targets cache
/_targets/

.env